<div>
    <h3>Constitution</h3>
    
    <ul>
        <li><input type="number" @bind=@character.CON.Value/></li>
        <li>Bonus: @displayModifier(character.CON.Modifier)</li>
        <li>Saving Throw: <input type="checkbox" @bind=@character.STR.SavingThrow/></li>
    </ul>
</div

@code {
    string displayModifier(int value) {
        return value > 0 ? $"+{value}" : $"{value}";
    }

    [CascadingParameter]
    public PlayerStats character { get; set; }
}
