@page "/help"

<Nav key="" />

<h1 class="w-full text-4xl text-center my-8 font-serif">Help</h1>

<div class="w-full flex justify-center">
    <div class="max-w-3xl">
        <p class="text-lg p-2 px-4 font-serif">
            Don't forget to check the text on the main page! There is important info
            you might be looking for!
        </p>
    </div>
</div>
