@page "/"
@inject NavigationManager nav

<PageTitle>Carothar - Home</PageTitle>

<h1>Carothar 5e</h1>

<p>
Welcome to Carothar, a collaborative app for real time viewing of D&D characters that allows collaboration between the players and DMs. Start by pressing the link below.
</p>

<button @onclick="signin">Login</button>

<button @onclick="signup">Sign Up</button>

@code {
    void signin()
    {
        nav.NavigateTo("/login");
    }

    void signup()
    {
        nav.NavigateTo("/signup");
    }
}
