@page "/"
@inject NavigationManager nav

<PageTitle>Carothar - Home</PageTitle>

<h1>Carothar 5e</h1>

<p>
Welcome to Carothar, a collaborative app for real time viewing of D&D characters that allows collaboration between the players and DMs. Start by pressing the link below.
</p>

<div>
    <a href="/start">Create a new session</a>
</div>

@if (alertEnable) {
    <div class=@alertClass>
        @alertString
    </div>
}

<div>
    Join with a key...
    <form @onsubmit="join">
        <label for="key"></label>
        <input type="text" id="key" @bind="key" maxwidth="16" required />
        <input type="submit" value="Join" />
    </form>
</div>

@code {
    string key;

    string alertString;
    string alertClass;
    bool alertEnable;

    void join()
    {
        if (String.IsNullOrEmpty(key) || key.Any(char.IsWhiteSpace) || key.Any(char.IsDigit))
        {
            InvokeAsync(StateHasChanged);
            alertEnable = true;
            alertString = "Invalid key";
            alertClass = "";
            return;
        }
        nav.NavigateTo($"/join?key={key}");
    }
}
