@page "/join"
@inject NavigationManager nav
@using Logic.Game

<PageTitle>Carothar - Join</PageTitle>

<Nav key=@key />

@if (loaded && (session is not null)) {
    <h2 class="">@session.Name by @session.CreatedBy</h2>
    <ul>
        @foreach(string charKey in session.Characters.Keys.ToList()) {
            <li>
                <button @onclick="() => playAsCharacter(session.Characters[charKey])">Join</button>
                @session.Characters[charKey].Name (@session.Characters[charKey].PlayerName)
            </li>
        }
        <li><button @onclick="addCharacter">Add Character & Continue</button></li>
    </ul>
} else if (loaded) {
    <p>Invalid key</p>
} else {
    <p>Loading...</p>
}

@code {
    bool loaded = false;
    bool addCharacterToggle = false;

    string characterName;

    Session? session;
    PlayerStats characterData;

    [SupplyParameterFromQuery]
    public string key { get; set; }

    protected override void OnInitialized()
    {
        session = SessionManager.Instance.GetSessionFromKey(key);
        if (session is not null) session.SessionUpdated += () => InvokeAsync(StateHasChanged);
        loaded = true;
        InvokeAsync(StateHasChanged);
    }

    void addCharacter()
    {
        nav.NavigateTo($"/create?key={session.Key}");
    }

    void playAsCharacter(PlayerStats character)
    {
        session.UpdateSessionData();
        nav.NavigateTo($"/play?key={session.Key}&chardata={character.Key}");
    }
}
