@page "/signup"
@inject NavigationManager nav
@using Logic.Login

<PageTitle>Carothar - Sign Up</PageTitle>

<h1>Sign Up</h1>

@if (displayAlert) {
    <div class="alert-warning">@alertText</div>
}

<form method="post" @onsubmit="signup">
    <AntiforgeryToken />
    <label for="username">Username</label><br>
    <input @bind="name" type="text" name="username" id="username" placeholder="johndoe123" required /><br>
    <label for="password">Password</label><br>
    <input @bind="pass" type="password" name="password" id="password" placeholder="p@ssword" required /><br>
    <label for="confirm">Confirm Password</label><br>
    <input @bind="confirm" type="password" name="confirm" id="confirm" placeholder="confirm password" required /><br>
    <label for="image">Profile Image (optional)</label><br>
    <input @bind="img" type="text" name="image" id="image" placeholder="optional"/><br>
    <input type="submit" value="Submit" />
</form>

@code {
    bool displayAlert = false;
    string alertMode;
    string alertText;

    string name;
    string pass;
    string confirm;
    string img;

    void signup()
    {
        string? image = img == "" ? null : img;
        if (pass == confirm)
        {
            LoginManager.Instance.CreateNewUser(name, pass, image);
            nav.NavigateTo("/login");
        }
        else
        {
            displayAlert = true;
            alertMode = "alert-warning";
            alertText = "Passwords must match.";
            InvokeAsync(StateHasChanged);
        }
    }
}
