@page "/start"
@inject NavigationManager nav
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Logic.Login
@using Logic.Session

<PageTitle>Carothar - Start</PageTitle>

<h1>Start</h1>

<form @onsubmit="">
</form>

@code {
    bool loaded = false;
    string? username;
    string? password;
    User? user = null;

    bool addSessionEnable = false;
    string sessionName;
    List<Session> userSessions = new();

    void newSession()
    {
        addSessionEnable = true;
    }

    void addSession()
    {
        Session newSession = SessionManager.Instance.AddSession(sessionName, username);
        user.AddSessionKey(newSession.Key);
        joinSession(newSession.Key);
    }

    void joinSession(string id)
    {
        nav.NavigateTo($"/join?key={id}");
    }
}
