@page "/start"
@inject NavigationManager nav

<PageTitle>Carothar - Start</PageTitle>

<h1>Start</h1>

<form @onsubmit="create">
    <label for="sessionName">Session Name</label>
    <input type="text" id="sessionName" name="Session Name" required @bind="sessionName"/>
    <label for="username">Your Name</label>
    <input type="text" id="username" name="Your Name" required @bind="username"/>
    <input type="submit" value="Create and Continue"/>
</form>

@code {
    bool loaded = false;
    string sessionName;
    string username;

    void create()
    {
        Session session = SessionManager.Instance.AddSession(sessionName, username);
        nav.NavigateTo($"/join?key={session.Key}");
    }
}
