<div>
    <h3>Strength</h3>
    
    <ul>
        <li><input type="number" @bind=@character.STR.Value/></li>
        <li>Bonus: @displayModifier(character.STR.Modifier)</li>
        <li>Saving Throw: <input type="checkbox" @bind=@character.STR.SavingThrow/></li>
        
    </ul>

    <Skill skill=@character.STR.Athletics name="Athletics"></Skill>
</div

@code {
    string displayModifier(int value) {
        return value > 0 ? $"+{value}" : $"{value}";
    }

    [CascadingParameter]
    public PlayerStats character { get; set; }
}
