<header>
    <nav class="flex justify-between items-stretch p-2 bg-slate-50">
        <div class="flex-1">
            <ul class="flex flex-row">
                <li class="flex-initial text-lg p-2 font-serif mr-2 text-slate-700">Carothar</li>
                <li class="flex-initial text-lg p-2 font-serif mr-2 bg-slate-50 hover:bg-slate-200 text-slate-500"><a href="/">Home</a></li>
                <li class="flex-initial text-lg p-2 font-serif mr-2 bg-slate-50 hover:bg-slate-200 text-slate-500"><a href="/help">Help</a></li>
            </ul>
        </div>
        @if (key != "") {
        <div class="flex-initial">
            <ul class="flex flex-row">
                <li class="flex-initial text-lg p-2 font-serif mr-2 text-slate-700">Session:</li>
                <li class="flex-initial text-lg p-2 font-serif mr-2 bg-slate-50 hover:bg-slate-200 text-slate-500 rounded-md"><a href="/join?key=@key">Characters</a></li>
                <li class="flex-initial text-lg p-2 font-serif mr-2 bg-slate-50 hover:bg-slate-200 text-slate-500 rounded-md"><a href="/console?key=@key">GM Screen</a></li>
                <li class="flex-initial text-lg p-2 font-serif mr-2 text-slate-600">Key: @key</li>
            </ul>
        </div>
        }
    </nav>
</header>

@code {
    [Parameter]
    public string key { get; set; }
}
