<header>
    <nav class="flex justify-between items-stretch p-4 bg-slate-900">
        <div class="flex-1">
            <ul class="flex flex-row">
                <li class="flex-initial p-2 mr-2 bg-slate-800 text-slate-400 rounded-md"><a href="/">Home</a></li>
                <li class="flex-initial p-2 mr-2 bg-slate-800 text-slate-400 rounded-md"><a href="/help">Help</a></li>
            </ul>
        </div>
        @if (key != "") {
        <div class="flex-initial">
            <ul class="flex-justify">
                <li class="">Session:</li>
                <li class=""><a href="/join?key=@key">Characters</a></li>
                <li class=""><a href="/console?key=@key">GM Screen</a></li>
                <li class="">Key: @key</li>
            </ul>
        </div>
        }
    </nav>
</header>

@code {
    [Parameter]
    public string key { get; set; }
}
